<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <p>Parcel volume: @Model.Volume()</p>
    <p>Parcel weight: @Model.Weight</p>
    <p>Estimate shipping cost: @Model.CostToShip()</p>
  </body>
</html>