<form action="/parcelinfo" method="post">
  <div class="form-group">
    <label for="length">Enter the package length in feet:</label>
    <input id="length" name="length" type="number" class="form-control" min="1">
  </div>
  <div class="form-group">
    <label for="width">Enter the package width in feet:</label>
    <input id="width" name="width" type="number" class="form-control" min="1">
  </div>
  <div class="form-group">
    <label for="height">Enter the package height in feet:</label>
    <input id="height" name="height" type="number" class="form-control" min="1">
  </div>
  <div class="form-group">
    <label for="weight">Enter the package weight in pounds:</label>
    <input id="weight" name="weight" type="number" class="form-control" min="1">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>