<p>@Model.error</p>
<p>Parcel volume: @Model.Volume()</p>
<p>Parcel weight: @Model.Weight</p>
<p>Estimate shipping cost: @Model.CostToShip()</p>
<a href="/parcels/new">Add Another Parcel</a>
<a href="/index">View Parcels</a>